#credits {
  background-image: url("../images/credits/background.jpg");
}

#credits > .title {
  position: absolute;
  left: 400px;
  top: 20px;
}

/* Buttons */

#credits > .buttons > .home {
  left: 40px;
  top: 20px;
}

/* Content */

.credits-content {
  position: absolute;
  top: 150px;
  left: 100px;
  width: 500px;
  height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 1;
}

.credits-content p {
  font-size: 16px;
  line-height: 1.4;
  padding-bottom: 1em;
  font-family: sans-serif;
}