#home {
  background-image: url("../images/home/background.jpg");
}

/* Title */

#home > .title {
  position: absolute;
  left: 400px;
  top: 160px;
}

/* Menu */

.menu {
  position: absolute;
  left: 100px;
}

.menu > .play {
  top: 160px;
}

.menu > .songs {
  top: 220px;
}

.menu > .photos {
  top: 280px;
}

.menu > .videos {
  top: 340px;
}

.menu > .linernotes {
  top: 400px;
}

.menu > .credits {
  top: 460px;
}

