#photos {
  background-image: url("../images/photos/background.jpg");
}

/* Photos */

#photos > .title {
  position: absolute;
  left: 400px;
  top: 20px;
}

/* Buttons */

#photos > .buttons > .home {
  left: 40px;
  top: 20px;
}

/* Sliding View */

#photos .sliding-view {
  position: absolute;
  left: 0px;
  top: 130px;
  width: 1280px;
  height: 400px;
  overflow: hidden;
  z-index: 0;
}

#photos .sliding-view-element {
  position: absolute;
  top: 10px;
  left: 340px;
  width: 600px;
  height: 400px;
  -webkit-transition: -webkit-transform 500ms, opacity 250ms;
  cursor: pointer;
  z-index: 0;
}

#photos .sliding-view-element img {
  -webkit-transition: -webkit-transform 500ms, opacity 250ms;
  width: 600px;
  height: 400px;
  -webkit-transform: scale(0.8);
  opacity: 0.5;
}

#photos .sliding-view-element-focused img {
  -webkit-transform: scale(1);
  opacity: 1;
}

#photos .sliding-view-element-hidden {
  display: none;
}

/* Page Control */

.slider {
  position: absolute;
  left: 378px;
  top: 610px;
  width: 524px;
  height: 48px;
  z-index: 0;
}

#photos .page-control {
  position: absolute;
  left: 396px;
  top: 610px;
  width: 488px;
  height: 48px;
  cursor: pointer;
  z-index: 1;
}

#photos .page-control-indicator-element {
  background: url('../images/interface/sliderPill.png') no-repeat center center;
  position: absolute;
  top: 12px;
  left: -3px;
  width: 44px;
  height: 24px;
}

/* Arrows */

#photos .left-arrow {
  left: 300px;
  top: 595px;
}

#photos .right-arrow {
  left: 900px;
  top: 595px;
}

#photos .left-arrow,
#photos .right-arrow {
  -webkit-transition: opacity 500ms;
}

#photos .inactive {
  opacity: 0;
  pointer-events: none;
}

/* dim the arrows when they're inactive on Apple TV */
@media (-webkit-apple-tv) {
  #photos .inactive {
    opacity: 1;
  }
}
