#songs {
  background-image: url("../images/songs/background.jpg");
}

#songs > .title {
  position: absolute;
  left: 400px;
  top: 20px;
}

/* Buttons */

#songs > .buttons > .home {
  left: 40px;
  top: 20px;
}

/* Song buttons */

#songs > .songs {
  position: absolute;
  top: 160px;
  left: 100px;
  width: 226px;
}

#songs > .songs.column2 {
  left: 400px;
}

#songs > .songs.column3 {
  left: 700px;
}

#songs > .songs > .song {
  position: relative;
  display: block;
  padding-bottom: 20px;
}