
<div id="photos">
  <!-- title -->
  <img class="title" src="images/photos/title.png">
  <!-- navigation -->
  <div class="buttons">
    <div class="home image-fader">
      <img src="images/interface/buttonHome.png">
      <img src="images/interface/buttonHomeOver.png">
    </div>
    <div class="left-arrow image-fader">
      <img src="images/interface/arrowLeft.png">
      <img src="images/interface/arrowLeftOver.png">
    </div>
    <div class="right-arrow image-fader">
      <img src="images/interface/arrowRight.png">
      <img src="images/interface/arrowRightOver.png">
    </div>
  </div>
  <img class="slider" src="images/interface/sliderBacking.png">
</div>
